annotated-types==0.7.0
bcrypt==4.1.2
cffi==1.16.0
contourpy==1.2.0
cycler==0.12.1
exceptiongroup==1.2.1
fonttools==4.49.0
iniconfig==2.0.0
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.1
pandas==2.2.1
paramiko==3.4.0
parso==0.8.3
pillow==10.4.0
plotly==5.23.0
pluggy==1.5.0
pudb==2024.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.17.2
pyparsing==3.1.2
pytest==8.1.1
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
tenacity==9.0.0
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
urwid==2.6.10
urwid-readline==0.14
wcwidth==0.2.13
